<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Local folder -->
        <add key="LocalPackages" value="vendors/nuget"/>
        <!-- Keep nuget.org for public packages -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    </packageSources>
</configuration>